@font-face {
    font-family: 'OLCK Optimum';
    src: url('OLCKOptimum-Medium.woff2') format('woff2'),
        url('OLCKOptimum-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

